- content_for :title do
  ELearnPlat
  \/ 
  All Enrolments
  
%h3
  .text-center
    Users
    .badge.bg-primary
      = @enrolments.count

.table-responsive
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th ID
        %th 
          .fa.fa-clock
          .fa.fa-lock-open
        %th 
          .fa.fa-graduation-cap
          Course
        %th
          .fa.fa-user
          User
        %th 
          .fa.fa-dollar-sign
          Price
        %th
          .text-warning.far.fa-clock
          Reviewed on
        %th
          .text-warning.far.fa-star
          Rating
        %th
          .text-warning.far.fa-comment
          Review
        %th
        %th
        %th
  
    %tbody
      - @enrolments.each do |enrolment|
        %tr
          %td= enrolment.id
          %td= enrolment.created_at.strftime("%d/%b/%Y - %H:%M")
          %td= link_to enrolment.course, course_path(enrolment.course)
          %td= link_to enrolment.user, user_path(enrolment.user)
          %td= number_to_currency(enrolment.price)
          %td 
            - if enrolment.rating.present?
              = enrolment.updated_at.strftime("%d/%b/%Y - %H:%M")
          %td= enrolment.rating
          %td= enrolment.review
          %td= link_to 'See review', enrolment
          %td= link_to 'Add review', edit_enrolment_path(enrolment)
          %td= link_to 'Delete enrolment', enrolment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Enrolment', new_enrolment_path
