%table.table.table-bordered
  %thead
    %tr
      %th  id
      %th= sort_link(@q, :email)
      %th  created_at
      %th= 'sign_in_count'.humanize
      %th= 'current_sign_in_at'.humanize
      %th= 'last_sign_in_at'.humanize
      %th= 'current_sign_in_ip'.humanize
      %th= 'last_sign_in_ip'.humanize
      %th= 'role'.humanize
    - if policy(current_user).edit?
      %th
        = 'edit roles'.humanize
  %tbody
  - @users.each do |user|
    %tr
      %td= user.id
      %td
        = link_to user.email, user_path(user)
        - if  user.online?
          %i.text-success.fa.fa-circle
        - else
          %i.fa.fa-circle
      %td= user.created_at
      %td= user.sign_in_count
      %td= user.current_sign_in_at
      %td= user.last_sign_in_at
      %td= user.current_sign_in_ip
      %td= user.last_sign_in_ip
      %td
        - user.roles.each do |role|
          .badge.bg-info
            = role.name
      
    - if policy(user).edit?
      %td
        = link_to 'Edit roles', edit_user_path(user), class: 'btn btn-sm btn-warning'
