- content_for :title do
  ELearnPlat
  \/ 
  = @user.username
  profile
  
%table.table.table-bordered
  %thead
    %tr
      %th  id
      %th  email
      %th  created_at
      %th= 'sign_in_count'.humanize
      %th= 'current_sign_in_at'.humanize
      %th= 'last_sign_in_at'.humanize
      %th= 'current_sign_in_ip'.humanize
      %th= 'last_sign_in_ip'.humanize

  %tbody
    %tr
      %td= user.id
      %td= link_to user.email, user_path(user)
      %td= user.created_at
      %td= user.sign_in_count
      %td= user.current_sign_in_at
      %td= user.last_sign_in_at
      %td= user.current_sign_in_ip
      %td= user.last_sign_in_ip
      
%table.table.table-bordered
  %thead
    %tr
      %th= 'confirmed_email'.humanize
      %th= 'online status'.humanize
      %th= 'role'.humanize
      %th= 'edit roles'.humanize   
    // - if policy(current_user).edit?
      
  %tbody
    %tr
      - if user.confirmed_at.present?
        %td= 'Yes'
      - else
        %td= 'No'
      - if user.online?
        %td
          %i.text-success.fa.fa-circle
      - else
        %td
          %i.fa.fa-circle
        %td
          - user.roles.each do |role|
            .badge.bg-info
              = role.name
      - if policy(current_user).edit?
        %td
          = link_to 'Edit roles', edit_user_path(user), class: 'btn btn-sm btn-warning'

      // - if user.online?
      //   .text-success.fa.fa-circle
      // - else
      //   .fa.fa-circle